@import "../variables";
@import "../base/mixin";

.card {
    // FUNCTIONALITY
    perspective: 150rem;
    position: relative;
    height: 40rem;
    margin: 6rem auto;
    width: 65rem;

    @include respond(phone) {
        height: 20rem;
        width: 34rem;
    }

    &__side {
        height: inherit;
        transition: all 0.8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden; // To fix animation bug
        border-radius: 3px;
        overflow: hidden; // To keep the picture within the frame
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateX(-180deg);
        }
    }

    &.rotated &__side--front {
        transform: rotateX(180deg);
    }

    &.rotated &__side--back {
        transform: rotateX(0);
    }

}
