<div class="badges-section">
    <h2>Badges</h2>
    <div>
        <div *ngFor="let lesson of lessonsVideoData | keyvalue ">

            <!-- The blue color in the linear-gradient color of the badge represents
                 the percentage of the lesson that was watched -->
            <div *ngIf="lesson.value" class="badge" [ngStyle]="{backgroundImage: 
                    'linear-gradient(to top, #1a237e 0%, #9fa8da '
                    + getPercentage(lesson.value) + '%, #dededeb3 '
                     + getPercentage(lesson.value) + '%)'}">
                <mat-icon [inline]="true">military_tech</mat-icon>
            </div>
        </div>
    </div>
</div>