@import "../../../../scss/variables";

.badges-section {
    padding: 7rem 10rem;
    right: 0;

    &.sticky {
        position: fixed;
        top: 0;
    }
}

.badge {
    background-clip: text;
    color: transparent;
    font-size: 7rem;
    height: 7rem;
    padding-top: 3rem;
    margin: 2rem auto;
}
