@import "../../../../scss/variables";

.lessons-section {
  position: relative;
  background-color: $color-grey-light;
  padding: 10rem 0;
  text-align: center;
  width: 100%;
}

.badges-button {
  float: right;
  margin: 0 2rem 2rem;
}