@import '../../../../scss/variables';

.lessons-section {
  position: relative;
  background-color: $color-grey-light;
  padding: 10rem 0;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}