<div class="card lesson-card" [ngClass]="{'rotated': rotated}">
    <div class="card__side card__side--front">
        <div class="lesson-card__picture-container">
            <img class="lesson-card__picture" [src]="lesson.imageUrl">
            <button class="btn btn--white lesson-card__button" (click)="toggleCardRotated()">
                Watch lesson
            </button>
        </div>
        <h4 class="lesson-card__heading">
            {{lesson.name}}
        </h4>
    </div>
    <div class="card__side card__side--back">
        <div class="lesson-card__player-title">{{lesson.name}}</div>
        <app-video-player [videoId]="lesson.videoId" (onDataChange)="setSecondsWatched($event)"></app-video-player>
    </div>
</div>