@import "../../../../scss/variables";
@import "../../../../scss/base/mixin";

.lesson-card {
    &__picture-container {
        height: 31rem;
        overflow: hidden;
        position: relative;

        @include respond(phone) {
            height: 15rem;
        }
    }

    &__picture {
        width: 100%;
        transform: scale(1.2);
        backface-visibility: hidden; // To fix animation bug
        transition: all 0.5s;
    }

    &:hover &__picture {
        transform: scale(1);
        filter: blur(3px) brightness(80%);
    }

    &__heading {
        text-align: left;
        padding: 3rem;
        font-size: 2rem;
        text-transform: capitalize;

        @include respond(phone) {
            padding: 1rem 2rem;
            font-size: 1.6rem;
        }
    }

    &__button {
        opacity: 0;
        backface-visibility: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
    }

    &:hover &__button {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &__player-title {
        padding: 1rem 2rem;
        text-align: left;
        font-size: 1.7rem;
    }
}