<header class="header" id="hero-section">
    <div class="header__logo-box">
        <img src="https://assets-global.website-files.com/59bf7cd753d30a0001227d6d/5a09613720b4fd0001f00b8f_LTX_Logo_v13_website%20logo.svg" alt="Logo" class="header__logo">
    </div>

    <div class="header__text-box">
        <h1 class="mat-heading heading-primary">
            <span class="heading-primary--main">Academix</span>
            <span class="heading-primary--sub">Become a travel photographer</span>
        </h1>

        <a href="#lessons-section" class="btn btn--white btn--animated">Get Started</a>
        <a href="#learn-more-popup" class="btn btn--white-outline btn--animated">Learn more</a>
    </div>

    <app-learn-more-popup></app-learn-more-popup>
</header>